// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Colors
// 

$black: #19191F
$white: #fff

$grayLight:	#F5F7FA
$gray: #E4E9F2
$grayDark: #272529

$blue: #76B1DF
$red: #ED242B
$green: #8BB28F

$yellow: #FFD68B
$purple: #A68BC1
$pink: #FD999A
$orange: #E86C0C

$navy : #011543
$cream: #F0EFEB



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Base
//
$textMain: $black
$linkColor: $black
$linkHoverColor: #7C7C7C
$primaryColor: $black
$bodyBackground: white
$hrColor: $red
$borderColor: $gray
$global-border-width: 1px
$maxContainerWidth: 2500px
$globalSpacing: 30px
$sideSpacing: 10px
$sidebar-width: 135px
$headerHeight: 70px
$transition-duration: 300ms
$bezier: cubic-bezier(.36, .28, .25, .90)



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Break Points
//
$phone: 500px
$small: 768px
$medium: 56rem



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// 
// Stacking 
//
$z-bottom: -100
$z-0: 0
$z-1: 1000
$z-2: 2000
$z-3: 3000
$z-error: 7000
$z-cover: 4000
$z-modal: 4200
$header: $z-3



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Buttons
//
$button-padding: 20px 50px
$button-height: auto
$button-border: 0

$primary-button-color: white
$primary-button-bg: $black
$primary-button-hover: lighten($black, 15%)

$alt-button-color: white
$alt-button-bg: $gray
$alt-button-hover: darken($gray, 10%)

$hollow-button-color: $black



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Type
//
$baseFontFamily: 'OfficeCodePro', sans-serif
//$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif
$baseFontWeight: normal
$baseLineHeight: 1.6
$baseFontSize: 1rem

$headingsFontFamily: 'OfficeCodePro', sans-serif
$headingsFontWeight: normal

$boldFontWeight: normal

$altFontFamily: Georgia, Georgia, serif 
$altFontWeight: normal
$monospaceFontFamily: "Courier New", monospace



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Tables
//
$tableBg: transparent
$tableBorderColor: transparent
$tableStripeColor: transparent
$tableBgHover: $grayLight
$tableCellPadding: 5px 5px 5px 0



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Input
//
$input-color: $black
$input-bg: white
$input-border-width: 0
$input-border: white
$input-border-radius: 0
$input-focus: $blue
$input-disabled: $grayLight
$input-padding: 6px 10px 4px
$input-height: 55px

