.shape-container
  transform-origin: 0 0
  transform: translateX(60px) translateY(-20px)

.shape-wrap
  transform-origin: 100% 0
  transform: skewY(6deg)
  .topper
    width: 60%
    border: 3px solid
    border-radius: 50%
    padding-bottom: 5%