//    _   _   _   _     //
//   / \ / \ / \ / \    //
//  ( B | A | S | E )   //
//   \_/ \_/ \_/ \_/    //

// "I gotta Benz!"   -Frankie

// ..............................................
//
//  Your top level selectors my lord...
//
// ..............................................

@font-face 
  font-family: 'OfficeCodePro'
  src: url('//static1.squarespace.com/static/553ea0cee4b04d836f633668/t/554feda1e4b0a8858a7a4d48/1431301537544/OfficeCodePro-Regular.eot'),url('//static1.squarespace.com/static/553ea0cee4b04d836f633668/t/554feda9e4b0425f6a8a4a25/1431301545098/OfficeCodePro-Regular.ttf'),url('//static1.squarespace.com/static/553ea0cee4b04d836f633668/t/554fedb0e4b0425f6a8a4a32/1431301552687/OfficeCodePro-Regular.woff')

@font-face 
  font-family: 'OfficeCodeProBold'
  src: url('//static1.squarespace.com/static/553ea0cee4b04d836f633668/t/55503049e4b02d0d024235e6/1431318601785/OfficeCodePro-Bold.eot'),url('//static1.squarespace.com/static/553ea0cee4b04d836f633668/t/555030a5e4b0b3586ba5f05e/1431318693511/OfficeCodePro-Bold.ttf'),url('//static1.squarespace.com/static/553ea0cee4b04d836f633668/t/555030bbe4b026a2b091f32f/1431318715149/OfficeCodePro-Bold.woff')

html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit


html
  height: 100%
  width: 100%
  font-size: 20px

.logo
  transition: .662s cubic-bezier(.25,.46,.45,.94)

body
  font-family: $baseFontFamily
  line-height: $baseLineHeight
  font-weight: $baseFontWeight
  font-style: normal
  color: $textMain
  background-color: $bodyBackground
  width: 100%
  height: 100%
  -webkit-font-smoothing: antialiased
  transition: background-color .662s cubic-bezier(.25,.46,.45,.94), color .662s cubic-bezier(.25,.46,.45,.94)
  &.home
    color: $black
    background-color: #FF8D6C
    a,
    a:visited,
      color: $black
    .logo
      background-color: $black
  &.about
    background-color: black
    color: white
    a,
    a:visited,
      color: white
    .logo
      background-color: white
  &.sell
    color: $black
    background-color: white
    a,
    a:visited,
      color: $black
    .logo
      background-color: $black
  &.blog
    background-color: $blue

a
  color: $linkColor
  text-decoration: none
  border-bottom: 1px solid
  padding-bottom: 1px
  &:hover
    color: $linkHoverColor
    text-decoration: none
    cursor: pointer
  &:focus
    outline: none
  &:visited
    color: $black
  img
    border: none

img
  width: auto
  height: auto
  max-width: 100%
  vertical-align: middle
  border: 0
  -ms-interpolation-mode: bicubic
  //opacity: 1
  transition: 300ms cubic-bezier(.165,.84,.44,1)

// img:not([src])
//   opacity: 0

.lazy
  opacity: 1

.not-loaded
  img
    opacity: 0

#map_canvas 
  img, object, embed
    max-width: none

#googlemap img, object, embed
  max-width: none

*:focus
  outline: none
